
body {
    /*background-color: lightblue;*/
    background-image: url("C:\Users\hp\Desktop\Prerana\p1.jpg");
    background-position: center;
  }
  a:link{color: blue;}
  a:visited{color: green;}
  a:hover{color: red;}
  a:active{color: yellow;}

  h1 {
    color: coral;
    text-align: center;
  }



   
  
  
