
body {
    background-color: lightblue;
  }
  a:link{color: blue;}
  a:visited{color: green;}
  a:hover{color: red;}
  a:active{color: yellow;}

  h1 {
    color: coral;
    text-align: center;
  }
  /*p {
    font-family: verdana;
    font-size: 20px;
  }
  #placeholder {
    font-size: 50px;
  }
   This is a single-line comment 
  .place-holder {
    font-size: 70px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  
  
