
body {
    background-color: lightblue;
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed; 
    
  }
  a:link{color: blue;}
  a:visited{color: green;}
  a:hover{color: red;}
  a:active{color: yellow;}

  h1 {
    color: coral;
    text-align: center;
  }



   
  
  
